html {
    font-size: 18px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Red Hat Mono", monospace; /* this should be the rest of the output you got from Google fonts */
    color: #33FF33;
    background-color: black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: greenyellow;
    text-shadow: 3px 3px 3px black;
}

img {
    display: block;
    margin: 0 auto;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 2;
}

body {
    width: 700px;
    margin: 0 auto;
    background-color: darkcyan;
    padding: 0 20px 20px 20px;
    border: 5px solid goldenrod;
}